/* ====================
     公共样式
     provide by Sophie
     ==================== */

html {
    -ms-text-size-adjust: 100%;
    /* 2 */
    
    -webkit-text-size-adjust: 100%;
    /* 2 */
    
    width: 100%;
    height: 100%;
    background: #fff;
}
body {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    line-height: 20px;
    margin: 0px 0 0 0;
    width: 100%;
    padding: 0;
    color: #5e4a3f;
}
div {
    margin: 0 auto;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dl,
dt,
dd,
form,
img,
p {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
}
a {
    color: #10b6f4;
    text-decoration: none;
    background-color: transparent;
}
a:link,
a:hover,
a:active,
a:focus {
    color: #0fb8f6;
    outline: 0;
    -moz-outline-style: none;
}
table,
table td,
table th {
    padding: 0;
    border: 0;
    margin: 0
}
ul {
    padding: 0;
    margin: 0;
    border: 0;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.dis {
    display: block;
}
.inline {
    display: inline;
}
.none {
    display: none;
}
.clear {
    clear: both;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
*html .clearfix {
    height: 1%;
}
*+html .clearfix {
    height: 1%;
}
/*英文强制换行*/

.word {
    word-break: break-all;
}
/*边框 背景*/

.br_blue {
    border: 1px solid #10b6f4;
}
.bg_blue{
  background-color: #10b6f4;
}
.bg_orange{
  background-color: #e46c30 !important;
}
.blank {
    height: 8px;
    line-height: 8px;
    clear: both;
    visibility: hidden;
}
.price{
  color: #e46c30;
}

/*布局*/
.area_l {
    width: 215px;
    float: left;
    overflow: hidden
}
.area_r {
    width: 785px;
    float: right;
    overflow: hidden;
    min-height: 400px
}
.block_line {
    width: 100%;
    min-width: 1009px;
}
.center_container {
    width: 1009px;
    height: auto;
    margin: 0 auto;
}
.btn_common{
  text-align: center;
  padding: 10px 20px;
  margin: 5px;
  background-color: #10b6f4;
  color: #fff !important;
  border: none;
  display: inline-block;
}
.btn_white{
  background-color: #fff;
  color: #10b6f4;
}
.btn_exwild{
  min-width: 100px;
}

/* ====================
     inputs
     ==================== */
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=search],
select {
  background: #fff;
  cursor: #2ad2c9, default;
  border: 2px solid #ffffff;
  text-align: left;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  min-width: 100px;
  border-radius: 0;
  padding-left: 5px;
  width: 100%;
}
  input[type=text]:focus,
  input[type=text]:active,
  input[type=password]:focus,
  input[type=password]:active,
  input[type=email]:focus,
  input[type=email]:active,
  input[type=url]:focus,
  input[type=url]:active,
  input[type=time]:focus,
  input[type=time]:active,
  input[type=date]:focus,
  input[type=date]:active,
  input[type=datetime-local]:focus,
  input[type=datetime-local]:active,
  input[type=tel]:focus,
  input[type=tel]:active,
  input[type=number]:focus,
  input[type=number]:active,
  input[type=search]:focus,
  input[type=search]:active,
  select:focus,
  select:active{
    outline: none; 
    border: 2px solid #10b6f4;
}
  input[type=text]:disabled,
  input[type=password]:disabled,
  input[type=email]:disabled,
  input[type=url]:disabled,
  input[type=time]:disabled,
  input[type=date]:disabled,
  input[type=datetime-local]:disabled,
  input[type=tel]:disabled,
  input[type=number]:disabled,
  input[type=search]:disabled,
  select:disabled{
    background-color: #f3f3f3;
    border-bottom-style: dotted;
    color: rgba(0, 0, 0, 0.26); 
}

button,input[type=submit],input[type=button]{
    border: none;
    cursor: pointer;
}

select{
  width: auto;
  min-width: 60px;
}

/* ====================
     头部
     ==================== */

.header_login {
    text-align: right;
    width: 100%;
    line-height: 30px;
}
.header_logo{
  width: 380px;
}
.header_logo img{
  width: 100%;
}
.header_ad{
  vertical-align:bottom;
  margin-top: 25px;
}
.header_menu li{
  float: left;
  text-align: left;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}
.header_menu li a{
  color: #5e4a3f;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  border-left: 1px solid #e7e6ee;
  padding: 0 25px;
}
.header_menu li a.active,.header_menu li a:hover,.header_menu li a:focus{
  color: #10b6f4;
}
.header_menu li:first-child a{
  border-left: 0;
  padding-left: 0;
}

/* sub menu */
.sub_menu{
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    z-index: 99;
    width: 500px;
    background: #ffffff;
    border: 1px solid #e7e6ee;
}
.sub_menu img{
    float: left;
    width: 100px;
    height: 250px;
}
.sub_menu ul{
    float: left;
    max-width: 400px;
}
.sub_menu ul li{
    float: left;
    margin-left: 20px;
}
.header_menu li:hover > .sub_menu{
    display: block;
}
.header_second_menu li{
    width: 80px;
    height: 100%;
}
.header_second_menu li a{
    display: block;
    border: none;
    padding: 0;
    margin: 0;
}
.header_second_menu li a h5{
    font-size: 16px;
    line-height: 60px;
}
.header_second_menu li a p{
    font-size: 14px;
}


.header_search{
    border: 2px solid #10b6f4;
    border-radius: 2px;
    width: 250px;
    margin: 5px 0px 5px 20px;
    height: 30px;
}
.header_search input[type="submit"]{
    background-image: url("../images/icons.png");
    background-position: 0px -82px;
    background-color: #ffffff;
    height: 30px;
    width: 34px;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
}
.header_search input[type="text"] {
    height: 28px;
    width: 210px;
    line-height: 28px;
    float: left;
    border: none;
    padding-left: 5px;
}
.header_cart{
  margin: 5px;
  line-height: 34px;
  font-size: 24px;
}
.header_cart .flow{
    height: 34px;
    width: 34px;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    background-position: -171px -47px;
    float: left;
    margin-right:5px;
}
.logout{
  margin-left: 20px;
}
.show_hide_member:hover > .fix_bar_sec{
  display: block;
}

/* ====================
     右侧购物车
     ==================== */
.fixr_cart{
    position: fixed;
    top: 0;
    right: -300px;
    width: 340px;
    height: 100%;
    color: #ffffff;
    text-align: center;
    line-height: 16px;
    z-index: 999;
    font-size: 16px;
    background-color: #fff;
    box-shadow: -1px 1px 1px #91cfe5;
}
.fixr_menu i {
    font-size: 25px;
    border: 1px solid #ffffff;
    border-radius: 10em;
    padding: 5px;
    width: 25px;
    height: 25px;
}
.fixr_menu .fixr_back{
  display: none;
}
.fixr_menu li span {
    display: block;
    width: 20px;
    margin: 5px 10px;
}
.fixr_menu {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 999;
}
.fixr_menu li {
    padding: 5px 0;
    cursor: pointer;
}
.fixr_menu .member {
    background-position: -33px -47px;
}
.fixr_menu .card {
    background-position: -102px -47px;
}
.fixr_menu .flow {
    background-position: -171px -47px;
}
.fixr_menu .wechat {
    background-position: -241px -47px;
    position: relative;
}
.fixr_menu .wechat_img {
    display: none;
    position: absolute;
    right: 38px;
    top: 0;
    border: 1px solid #5f4b44;
}
.fixr_menu .wechat:hover > .wechat_img {
    display: block;
}
.fixr_menu .sina {
    background-position: -310px -47px;
}
.fixr_menu .member,
.fixr_menu .flow,
.fixr_menu .card,
.fixr_menu .wechat,
.fixr_menu .sina {
    height: 34px;
    width: 34px;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
}
.cart_info {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
    background: #10b6f4;
    color: #fff;
    text-shadow: none;
}
.flow_container {
    width: 300px;
    height: 100%;
    background-color: #fff;
    color: #5f4b44;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 998;
    overflow-y: scroll;
    border-left: 1px solid #f3f3f3;
}
.flow_container form {
    padding: 5px 0;
    min-height: 600px;
}
.flow_container a {
    color: #5f4b44;
}
.flow_container a:hover {
    color: #000000;
}
.flow_container ul li{
  margin: 5px;
  clear: both;
  position: relative;
  overflow: hidden;
}

.flow_container form h3{
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
  background: #f3f3f3;
}
.flow_container form .price{
  font-size: 16px;
  font-weight: 700;
}
.flow_container form input[type="number"]{
  width: 50px;
}


.fixr_img{
  float: left;
  margin: 0 10px;
}
.fixr_info{
  float: right;
  width: 150px;
  text-align: left;
}
.fixr_info p{
  font-size: 12px;
  line-height: 15px;
  max-width: 120px;
  margin-bottom: 5px;
}
.fixr_info .delete{
  position: absolute;
  right: 10px;
  top: 0px;
}
.fixr_info .name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 120px;
  height: 30px;
}
.flow_check{
  background-color: #f3f3f3;
  width: 80%;
  margin-top: 30px;
  padding: 50px 10%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.flow_check p{
  text-align: left;
}
.flow_check .flow_price{
  text-align: left;
  font-size: 20px;
  color: #5f4b44;
  line-height: 30px;
}
.flow_check .flow_deliver{
  color: #10b6f4;
  line-height: 20px;
  margin-bottom: 20px;
}
.fixr_empty{
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.flow_entry {
    width: 300px;
    height: 60px;
    background: #f7dd98;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    color: #5f4b44;
}
.fix_bar_sec {
    display: none;
    position: absolute;
    right: 40px;
    top: 0;
    background: #5f4b44;
    font-size: 12px
}
.bar_table_login {
    width: 200px !important;
    padding: 10px 15px;
    box-shadow: 1px 1px 1px #000000;
}
.bar_table_login input[type="text"],
.bar_table_login input[type="password"] {
    width: 110px;
}
.bar_table_login th {
    line-height: 40px;
    font-size: 14px;
    font-weight: 700;
}
.forsale_icon {
    background: url("../images/sale_cicon.png") no-repeat;
    position: absolute;
    right: 300px;
    top: 0px;
    z-index: 999;
}

/* ====================
     尾部
     ==================== */
.footer_info {
    background: #10b6f4;
    padding: 40px 0;
    color: #ffffff
}
.footer_links dl {
    float: left;
    width: 18%;
    padding: 10px 1%;
}
.footer_links dt {
    font-size: 30px;
    text-decoration: none;
    font-weight: 500;
    line-height: 45px;
}
.footer_links dd a {
    text-decoration: none;
    line-height: 24px;
    color: #ffffff;
}
.footer_links dd a:hover {
    color: #5e4a3f
}
.footer_cer {
    text-align: center;
    color: #000000;
    line-height: 20px;
    padding: 10px 0
}

/* left and right layout */
.AreaL{
    width: 220px;
    margin-right: 19px;
    float: left;
}
.AreaR{
    float: left;
    width: 760px;
}


/*page of category*/

.page_category,
.page_good,
.page_search {
    background: #ffffff;
    z-index: 40;
    position: relative;
    min-height: 500px;
}
/*当前位置*/

#ur_here {
    height: 40px;
    line-height: 40px;
}
#ur_here a {
    text-decoration: none;
}
/* ====================
     模块
     ==================== */
/*购物车*/

.cart_new {
    background: #f3f3f3;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    color: #5e4944;
    height: 30px;
    width: 50px;
    margin-left: -20px;
    font-weight: 700
}




.goods_list_img {
    position: relative;
}
.goods_list_img img {
    height: 261px
}
.AreaL h3 {
    line-height: 32px;
}
#category_tree {
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3
}
#category_tree .tit {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
}
#category_tree dt {
    font-size: 14px;
    background: #f9f9f9
}
#category_tree dt.cur {
    background: #5e4944;
}
#category_tree dt.cur a {
    color: #ffffff;
}
#category_tree dt a {
    line-height: 35px;
    padding-left: 20px;
    text-decoration: none;
    display: inline-block;
}
#category_tree dd {
    padding: 3px 0 3px 10px;
}
#category_tree dd a {
    text-decoration: none;
    padding-right: 10px;
    display: inline-block;
    min-width: 40%;
    max-width: 90%
}
#category_tree dd a:hover {
    color: #000000;
    text-decoration: none;
}
/*单个商品*/

.goodsItem {
    width: 184px;
    float: left;
    position: relative;
    overflow: hidden;
    padding: 0px 3px 15px 3px;
    text-align: center
}
.goodsItem .goodsimg {
    width: 170px;
    margin-bottom: 4px;
}
.goodsItem p {
    text-align: center;
    color: #3f3f3f;
    font-weight: normal;
    display: block;
    line-height: 18px;
    height: 36px;
    overflow: hidden
}
.goodsItem p a {
    color: #3f3f3f;
    text-decoration: none;
}
.goodsItem p a:hover {
    color: #990000;
    text-decoration: none;
}
.goodsItem span {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.goodsItem span.best {
    background: url(images/bg.gif) no-repeat 0px -304px;
}
.goodsItem span.news {
    background: url(images/bg.gif) no-repeat -75px -304px;
}
.goodsItem span.hot {
    background: url(images/bg.gif) no-repeat -161px -304px;
}
.goods_cat {
    padding: 10px;
}
.goods_cat .goodsItem {
    padding: 5px 4px 15px 4px;
}
.cat_tit {
    text-align: right;
    border-bottom: 1px solid #4c4c4c;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.cat_tit span a {
    font-size: 16px;
    color: #211100;
    font-weight: bold
}
.cat_tit span {
    float: left
}
/*帮助*/

/*相关商品 */

.boxCenterList ul {
    height: 1%;
    margin-bottom: 5px;
}
.boxCenterList li {
    float: left;
    width: 100px;
}
.boxCenterList li.goodsimg {
    width: 48px;
    margin-right: 10px;
    float: left
}
.boxCenterList li.goodsimg img {
    width: 48px;
    display: block;
}
/*浏览历史，收藏*/

.history_block img {
    width: 100%
}
.history_block {
    text-align: center;
}
.history h2 {
    height: 26px;
    line-height: 26px;
    padding: 0px 10px 0 20px;
    text-align: center;
    font-size: 12px;
    float: left;
    color: #333;
    margin: 6px 5px 0 0;
    border: 1px solid #e2e2e2;
    border-bottom: none;
    background-color: #FFFFFF;
}
.history .h2bg {
    height: 26px;
    line-height: 26px;
    padding: 0px 10px 0 20px;
    text-align: center;
    font-size: 12px;
    float: left;
    color: #666;
    background: none;
    margin: 6px 5px 0 0;
    border: none;
}
#history li {
    width: 100%;
}
#clear_history a {
    background: none;
    padding: 0px;
    text-decoration: none;
    float: right;
    cursor: pointer;
}
.colle a {
    background: none;
    padding: 0px;
    color: #3f3f3f;
    text-decoration: none;
}
.colle a:hover {
    background: none;
    padding: 0px;
    color: #990000;
    text-decoration: none;
}
/* ====================
     商品详情页面部分模块
     ==================== */


/*用户评论*/

.comments li {
    background: url(images/lineBg.gif) repeat-x left bottom;
    padding: 3px 8px;
    width: 97%;
    _height: 1%;
    text-align: left;
    position: relative;
    margin-bottom: 8px;
}
.comments li img {
    position: absolute;
    right: 0px;
    top: 3px;
}
.comments li p {
    margin: 3px auto;
    text-align: left;
}
.commentsList {
    border: 1px solid #ccc;
    background: #f7f7f7;
    padding: 10px;
}
.commentsList .inputBorder {
    border: 1px solid #ccc;
    background: #fff;
}
.captcha {
    margin-left: 0px;
    position: relative;
    top: -1px;
    *margin-left: 8px;
    *position: relative;
    top: 3px;
    cursor: pointer;
}
/* ====================
     商品分类页面
     ==================== */
/*属性组合搜索*/

.screeBox {
    padding: 10px;
}
.screeBox a {
    color: #404040;
}
.screeBox span {
    background: #990000;
    color: #FFFFFF;
    padding: 3px 5px;
    margin: 0 3px;
}
form.sort input {
    position: relative;
    top: 3px;
}
form.sort {
    display: block;
    overflow: hidden;
    padding: 10px;
    line-height: 26px;
}
/*      .sort .fa-text-width,.sort .fa-th,.sort .fa-list{} */
/*商品列表显示方式*/

.list_type_ssize,
.list_type_lsize,
.list_type_wsize,
.list_type_ssize_act,
.list_type_lsize_act,
.list_type_wsize_act {
    font-size: 1.5em !important;
    color: #666;
    line-height: 50px
}
.list_type_ssize_act,
.list_type_lsize_act,
.list_type_wsize_act {
    color: #e9b96f;
}

.goodGrid ul {
    overflow: hidden;
}
.goodGrid ul li {
    float: left;
    width: 22%;
    margin: 5px 1%;
    text-align: center;
    border: 1px dashed #c1c1c1;
    background: #f3f3f3;
    padding-bottom: 10px
}
.goodGrid ul li img {
    width: 100%
}
.goodGrid ul li p {
    background: #c1c1c1;
    line-height: 25px;
}
.goodsList ul {
    margin-bottom: 10px;
    overflow: hidden;
    background: #ffffff;
    margin: 5px 0
}
.goodsList li {
    float: left;
    padding: 8px;
}
.goodsList li.thumb {
    text-align: center;
}
.goodsList li.thumb img {
    border: 1px solid #ccc;
    padding: 1px;
}
.goodsList li.goodsName {
    margin-right: 10px;
    font-size: 12px;
}
.goodsList li.goodsName a {
    font-size: 12px;
    font-weight: bold;
    color: #333333
}
.goodsList li.goodsName .bnt_blue {
    color: #FFFFFF;
    font-size: 12px;
    float: left;
    margin-right: 10px;
}
.goodsList li.action {
    float: right;
    margin-left: 10px;
    line-height: 25px;
}
/* ====================
     团购
     ==================== */

.group {
    padding: 8px;
}
.group li {
    float: left;
    background: #fff;
    padding: 8px;
}
.group .f_l {
    width: 220px;
    text-align: center
}
.group .f_r {
    width: 425px;
    line-height: 23px;
    text-align: left
}



/* ====================
     文章列表页-2009.6.8
     ==================== */

.article_search {
    margin: 8px 0;
}
.article_search .inputBg {
    width: 300px;
}
/* ====================
    打印报价单
    ==================== */

.quotation {
    margin: 20px auto 20px auto;
    text-align: center;
}
/*翻页*/

.pagebar {
    height: 20px;
    float: right;
}
.pagebar img {
    position: relative;
    top: 2px;
}
.pagebar a {
    display: block;
    float: left;
    margin: 0 2px;
}
.pagebar a:hover {
    color: #000000
}
.pagebar .page_now {
    display: block;
    float: left;
    margin: 0 5px;
    color: #000000;
    font-weight: bold;
}
/*版权*/

ul.help_link {
    float: left;
    display: block;
    text-align: left;
    width: 200px;
}
ul.help_link p {
    color: #ffffff;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 5px;
    font-size: 25px
}
ul.help_link p a {
    color: inherit;
    font-weight: bold;
    line-height: 20px;
}
ul.help_link li {
    clear: both;
    line-height: 20px;
    padding: 2px 10px
}
ul.help_link li:hover {
    background: #64554e;
}
ul.help_link li a:link {
    color: inherit;
    text-decoration: none;
}
ul.help_link li a:visited {
    color: inherit;
}
.footer_nav_box {
    background: #202020;
    border-top: 1px solid #202020;
    height: 58px;
}
.footer_nav_box .footer_nav {
    margin: 0 auto;
    color: #292928;
    text-align: center
}
.footer_nav ul li {
    display: inline;
    padding: 0px 20px 10px
}
.footer_nav ul li.pe {
    background: url(images/masa_pe_icon.gif) 0 29% no-repeat
}
.footer_nav ul li a:link {
    color: #cacaca;
    text-decoration: none;
}
.footer_nav ul li a:visited {
    color: #cacaca;
}
.footer_nav ul li a:hover {
    color: #cacaca;
    text-decoration: underline;
}
.copyright {
    clear: both;
    padding: 0px 0;
    margin: 0 auto;
    overflow: hidden;
    color: #cacaca;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}
/*购物车提示点击更新按钮式样2.6.2版本添加*/

.messageli {
    list-style-type: none;
    padding: 5px;
    color: red
}
.messagediv {
    font-size: 12px;
    position: absolute;
    border: 1px solid #FFD700;
    text-align: center;
    padding: 5px;
    background-color: #FFFACD;
    filter: alpha(opacity=50);
    -moz-opacity: 0.7;
    opacity: 0.7;
}
/*  积分兑换样式修改 */

.point li {
    float: left;
    width: 300px;
}
/*********************放大镜配置文件*******************************************************************************************/
/* Copyright 2008 MagicToolBox.com. To use this code on your own site, visit http://magictoolbox.com */
/* CSS class for zoomed area */

.MagicZoomBigImageCont {
    border: 1px solid #91b817;
}
/* Header look and feel CSS class */
/* header is shown if "title" attribute is present in the <A> tag */

.MagicZoomHeader {
    font: 12px Tahoma, Verdana, Arial, sans-serif;
    color: #fff;
    background: #91b817;
    text-align: center !important;
}
/* CSS class for small looking glass square under mouse */

.MagicZoomPup {
    border: 1px solid #aaa;
    background: #ffffff;
    cursor: hand;
}
/* CSS style for loading animation box */

.MagicZoomLoading {
    text-align: center;
    background: #ffffff;
    color: #444;
    border: 1px solid #ccc;
    opacity: 0.8;
    padding: 3px 3px 3px 3px !important;
    display: none;
    /* do not edit this line please */
}
/* CSS style for gif image in the loading animation box */

.MagicZoomLoading img {
    padding-top: 3px !important;
}
/* ©2008 MagicToolbox.com. To use this code on your own site, visit http://www.magictoolbox.com */
/* CSS class for thumbnail link <A> */

.MagicThumb {
    /*     cursor: url(images/zoomin.cur), pointer; */
    
    outline: none;
    overflow: hidden;
}
/* CSS class for the thumbnail link <A> when the big image is zoomed mo ban tang ban quan suo you */

.MagicThumb-zoomed {
    cursor: default;
}
/* CSS class for span inside the thumbnail <A> */

.MagicThumb span {
    display: none;
}
/* CSS class for the thumbnail image */

.MagicThumb img {
    outline: none;
}
/* CSS class for the big image while zooming */

.MagicThumb-image {
    border: 1px solid #cccccc;
    outline: none;
}
/* CSS class for the zoomed big image */

.MagicThumb-image-zoomed {
    cursor: url(images/zoomout.cur), pointer;
}
/* CSS class for the caption under the big zoomed image */

.MagicThumb-caption {
    color: #333333;
    background-color: #F0F0F0;
    border: 1px solid #CCCCCC;
    border-top: none;
    font-family: "Microsoft YaHei";
    font-size: 11px;
    padding: 8px 16px;
}
/* CSS class for the control bar ec mo ban */

.MagicThumb-controlbar {
    display: block;
    height: 18px;
}
.MagicThumb-controlbar a {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0px 1px;
    outline: none;
    float: left;
    overflow: hidden;
}
.MagicThumb-controlbar a span {
    display: block;
    width: 1000px;
    height: 1000px;
    outline: none;
    position: absolute;
    left: 0px;
    top: 0px;
}
/* CSS class for the loading message box */


.left_help {
    border: 1px solid #e2e2e2;
}
.left_help dl {
    padding: 10px;
}
.left_help dl dt {
    font-weight: bold;
    font-size: 12px;
    background: #e5e5e5;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
}
.left_help dl dt img {
    vertical-align: middle
}
.left_help dl dd {
    padding-left: 10px;
    padding-top: 5px;
}
.left_help dl a {
    color: #666;
    text-decoration: none
}
.left_help dl a:hover {
    color: #1c7b3b
}
.art_cat_box {} .art_cat_box th {
    height: 26px;
    line-height: 26px;
}
.art_cat_box td {
    border-bottom: 1px solid #dbdbdb;
    font-weight: normal
}
.art_cat_box td a {
    font-weight: bold;
    color: #3f3f3f;
    padding-left: 20px;
}